.App {
  font-family: sans-serif;
  text-align: center;
}
.credit {
  background-image: url(https://uploads.codesandbox.io/uploads/user/86f69bfd-5831-43a2-80aa-0c8a2b4e00c8/pBRl-creditCard.png);
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 300px;
}

.creditNumber {
  color: rgb(172, 126, 0);
  font-family: Tahoma;
}
.ValidThru {
  position: relative;
  right: 95px;
  top: 60px;
  color: rgb(46, 79, 107);
  font-family: Tahoma;
  font-size: 30px;
  font-weight: bold;
}
.nam {
  padding: 50px;
  color: rgb(46, 79, 107);
  font-family: Tahoma;
}
.cvc {
  position: relative;
  padding-left: 200px;
  color: rgb(46, 79, 107);
  font-family: Tahoma;
  font-size: 30px;
  font-weight: bold;
}
